﻿@{
     ViewBag.Title = "User";
 }

 <div class="text-box border border-3 px-3 py-2 my-2">
     <h2>Welcome to your page!</h2>
     <h4>Change your account settings</h4>
     <div>
         <p>Password:</p>
         @Html.ActionLink("Change your password", "ChangePassword")
     </div>
 </div>