# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Photo_album.iml
# Datasource local storage ignored files
/../../../../../:\internet_photo_album_mvc_framework\.idea\.idea.Photo_album\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
